  <p>
    <strong>Название:</strong>
    <%= @article.title %>
  </p>

  <p>
    <strong>Текст:</strong>
    <%= @article.text %>
  </p>

<%= link_to 'Править', edit_article_path(@article) %>
<%= link_to 'Назад', articles_path %>